/* * {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
} */

@import "../src/style/variables.css";




.navBar {
  background: var(--main-bg-color);
  background: linear-gradient(var(--gradient-color));
}


.link{
  text-decoration: none;
  color: var(--third-color) !important;
  font-weight: bold !important;
  display: flex;
  justify-content: center;
}



.mdl-layout__header, .mdl-layout__drawer-button i {
  color: red;
}


.drawer {
  background: var(--center-color) !important;
}

