/* * {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
} */

@import "../src/style/variables.css";


.mdl-layout__header .mdl-layout__drawer-button i {
  color: #000;
}

.navBar {
  background: var(--main-bg-color);
  background: linear-gradient(var(--gradient-color));
}

.link{
  text-decoration: none;
  color: var(--third-color) !important;
  font-weight: bold !important;
}


.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: red !important;
}

.drawer {
  background: black !important;
}


