/* * {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
} */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import "../../../../src/style/variables.css";

@font-face {
  font-family: "Anurati";
  src: url("../../../fonts/Anurati-Regular.otf");
}
@font-face {
  font-family: "Marske";
  src: url("../../../fonts/Marske.otf");
}

.logo {
  width: 16.25rem;
  text-decoration: none;
  color: var(--third-color) !important;
  display: flex;
  justify-content: center;
  font-family: "Anurati";
  letter-spacing: 2px;
  font-size: 160%;
}

.navBar {
  background: var(--center-color) !important;
  height: 5.625rem;
}

.navBarItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Marske";
  letter-spacing: 2px;
}

.link {
  text-decoration: none;
  color: var(--third-color) !important;
  display: flex;
  justify-content: center;
}

.linkActive {
  text-decoration: none;
  background-color: var(--third-color);
  font-weight: bold !important;
  text-shadow: 0 0 10px #ffffff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}


.switchContainer span {
  position: absolute;
  top: 1%;
  margin-top: 10px;
  padding: 0.55rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  color: white;
  border-radius: 50px;
  background-color: black;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.switchContainer:hover span {
  top: 5%;
  opacity: 0.9;
}