/* * {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
} */

@import "../../../../src/style/variables.css";




.navBar {
  background: var(--center-color) !important;
  border-color: red !important;

}

.navBarItem{

        display: flex;
        justify-content: center;
        align-items: center;
      
}


.link{
  text-decoration: none;
  color: var(--third-color) !important;
  font-weight: bold !important;
  display: flex;
  justify-content: center;
  
}

.linkActive {
  text-decoration: none;
  background-color: var(--third-color);
  font-weight: bold !important;
  text-shadow: 0 0 10px #ffffff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; 
  
  
}