/* * {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
} */

@import "../../../../src/style/variables.css";




.navBar {
  background: var(--center-color) !important;
}

.navBarItem{

        display: flex;
        justify-content: center;
        align-items: center;
      
}


.link{
  text-decoration: none;
  color: var(--third-color) !important;
  font-weight: bold !important;
  display: flex;
  justify-content: center;
}
