:root {
  --main-bg-color: rgb(0, 0, 0);
  --extremes-color: black;
  --center-color: #740001;
  --gradient-color: 90deg, var(--extremes-color) 0%,	var(--center-color) 50%,
  var(--extremes-color) 100%, var(--extremes-color) 100%;
    --third-color: #036564;
    --fourth-color: #033649;
    --text-color: #E8DDCB;
}
