/* * {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
} */

@import "../../../../src/style/variables.css";



.drawerItem{
    display: flex;
    align-items: center;
   
}


.link{
  text-decoration: none;
  color: var(--third-color) !important;
  font-weight: bold !important;
  display: flex;
  justify-content: center;
}




.drawer {
  background: var(--center-color) !important;

}
