@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import "../../style/variables.css";
.globalContainer {
  width: 100%;
  display: flex;
  justify-content: center;

}
.gridContainer {
  background: var(--main-bg-color);
  background: linear-gradient(
      var(--gradient-color));
  width: 100% !important;
  height: 100% !important;
}

.containerIMG {
  border-radius: 10%;
  display: flex;
  justify-content: center;
  
}

.avatarImg {
  border: solid var(--third-color);
  height: 300px;
  border-radius: 50%;
  background-color:var(--third-color);
  transition: all 1s ease-in-out;
  
}




.avatarImg:hover{
  background-color:var(--third-color);
border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px var(--third-color);
-webkit-box-shadow: 0px 0px 15px 15px var(--third-color);
transform: scale(1.09);
}

.containerBannerText{
  background-color: black;
  opacity: 0.7;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  text-align: center;

}

.bannerText {
  
  background-color: black;
  opacity: 0.7;
  width: 90%;
  height: 90%;
  margin: auto;
  border-radius: 20px;
  text-align: center;
}

.bannerText h1 {
  font-family: "BioRhyme", serif;
  font-size: 66px;
  font-weight: bold;
  color: var(--third-color);
}
@media screen and (max-width: 980px) {
  .bannerText h1 {
    font-size: 50px;
  }
}


.bannerText p {
  opacity: none;
  font-family: "Abel", sans-serif;
  color: var(--third-color);
  font-size: 20px;
  padding: 10px;
}

.separator {
  position: relative;
  margin-top: 1px;
  height: 1px;
}

.separatorTransparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(48, 49, 51),
    transparent
  );
}


