@import "./variables.css";

.material-icons {
  color: var(--third-color);
}

.mdl-layout__drawer {
  border-color: var(--third-color) !important;
}

@media screen and (min-width: 980px) {
  .mdl-layout__drawer-button {
    display: none !important;
  }
}

/* .mdl-js-ripple-effect {
  color: red !important;
} */

.mdl-layout__content{
  background-color: var(--center-color);
}

