:root {
  --main-bg-color: rgb(0, 0, 0);
  --extremes-color: #1d2124;
  --center-color: #1d2124;
  --gradient-color: 90deg, var(--extremes-color) 0%,	var(--center-color) 50%,
  var(--extremes-color) 100%, var(--extremes-color) 100%;
    --third-color:#d89216;/*  #eeba30; */
    --fourth-color:#2c061f;
    --text-color: #2c061f;
}

