@import '../../style/variables.css';

.containerCard {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 12px 15px 5px rgba(0, 0, 0, 0) !important;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    12px 12px 15px 5px rgba(0, 0, 0, 0);
  min-width: 45px;
  min-height: 110vh !important;
  margin: auto;
  background: var(--third-color) !important;
  text-align: center;
  transition: all 1s ease-in-out;
}

.containerCard:hover {
  transform: scale(1.055);
  
}
@media screen and (max-width: 980px) {
  .containerCard  {
    min-height: 90vh !important;
  }
}

.h2 {
  background: none;
  font-size: 20px;
  color: var(--text-color);
  text-shadow: 0 0 10px #ffffff;
}

.cardText {
  color: var(--text-color) !important;
  text-align: center;
  min-height: 15vh;
}

.technologies {
  color: var(--text-color) !important;
  text-align: center;
  min-height: 15vh;
}
.technologies p {
  font-weight: bold;
  color: var(--text-color);
  text-align: left;
}

.button {
  background-color: var(--center-color) !important;
  margin: 10px !important;
  border-radius: 60px !important;
  transition: all 2s;

}

.button:hover {
  transform: scale(1.1);
  background-color: var(--text-color) !important;
  color: var(--third-color);
}

.buttonDisabled {
 
  opacity: 0.5;
  background-color: var(--center-color) !important;
  margin: 10px !important;
  border-radius: 60px !important;
  
}

.cardPhoto {
  color: white;
  filter: blur(2px);
  height: 176px;
  background-color: none !important;
}
.cardPhoto:hover {
  filter: blur(0px);
}
