@import '../../style/variables.css';

.tabsContainer{
  background: var(--main-bg-color);
  background: linear-gradient(
      var(--gradient-color));
  width: 100%;
  height: 100%;
  text-decoration-color:rgba(121, 35, 9, 1);
  text-size-adjust: 100;
}
.tabs{
  background-color: var( --third-color);
}
.tab{
  color: var(--text-color) !important;
  /* text-shadow: 0 0 10px #FFFFFF; */
  font-weight: bold !important;
}
.grid{
  background: var(--main-bg-color);
  background: linear-gradient(
      var(--gradient-color));
}
.button:hover{
  transform: scale(1.1);
  background: orange;
}

.actionContainer {
  justify-content: flex-end;
}

