@import "../../../style/variables.css";

.card {
    max-width: 15vh;
    max-height: 15vh;
    min-width: 10vh;
    min-height: 10vh;
    margin: auto;
    

    
}


.card p{
    text-align: center;
    font-size: 10;
}


.card img{
    margin: auto;
    width: 90%;
    max-height: 9vh;
    min-height: 9vh;
    min-width: 9vh;
    max-width: 9vh;
    transition: all 1s ease-in-out;

  }
  @supports(object-fit: cover){
      .card img{
        height: 90%;
        object-fit: cover;
        object-position: center center;
      }
  }
  @media screen and (max-width: 980px) {
    .card p {
      font-size: 10px;
    }
  }

  .card img:hover{
    background-color:var(white);
  border-radius:50%;
  -webkit-border-radius:50%;
  box-shadow: 0px 0px 15px 15px var(--third-color);
  -webkit-box-shadow: 0px 0px 15px 15px var(--third-color);
  transform: scale(1.09);
  }

